html[dir="rtl"],
html[lang="ar"] {
  :root {
    --sh-start: 100%;
    --sh-end: -100%;
}

  
/* CRITICAL BEGIN */
.ar {
    font-family: var(--sh-fontface-ar);
    direction: rtl;
}

body,
textarea,
select,
option,
button,
input {
    font-family: var(--sh-fontface-ar);
    direction: rtl;
}

textarea {
    overflow-x: hidden;
}

/* CRITICAL END */
  .liga,
.symbol:before,
.symbolAfter:after {
    transform: scaleX(-1);
    filter: FlipH; 
    -ms-filter: "FlipH";
}

}
